DISCORD_PUBLIC_KEY=
DISCORD_BOT_TOKEN=
DISCORD_APPLICATION_ID=

DYNAMODB_ENDPOINT=
DYNAMODB_TABLE=craftsbite
CUTOFF_TIME=21:00
TIMEZONE=Asia/Dhaka

AWS_REGION=ap-southeast-1

LAMBDA_SELF_FUNCTION_NAME=
LAMBDA_MANAGEMENT_FUNCTION_NAME=
LAMBDA_OPS_FUNCTION_NAME=
