PORT=8080
AWS_REGION=
DYNAMODB_ENDPOINT=
USERS_TABLE=craftsbite-users
MEALS_TABLE=craftsbite-meals
WORK_TABLE=craftsbite-work
CUTOFF_TIME=
TIMEZONE=
DISCORD_APPLICATION_ID=
DISCORD_PUBLIC_KEY=
DISCORD_BOT_TOKEN=
