# Binaries
bin/
*.exe
*.exe~

# Environment
.env

# Go workspace files
go.work
go.work.sum

# Build output
*.out

# IDE
.idea/
.vscode/

# Local .terraform files
.terraform/
.terraform.tfstate.lock.info

# .tfstate files
*.tfstate
*.tfstate.*
.terraform.lock.hcl
